body {
  margin: 0;
  padding: 0;
  font-family: consolas;
}

.container {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
}

.container ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  list-style: none;
  flex-direction: column;
  width: fit-content;
}

.container ul li {
  position: relative;
  list-style: none;
}

.container ul li a {
  position: relative;
  text-decoration: none;
  font-size: 4em;
  color: #000;
  font-weight: 700;
  transition: 0.5s;
}

.container ul li a:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  color: #fff;
  transition: width 0.5s;
  white-space: nowrap;
}
.container ul li a:hover:before,
.container ul li.active a:before {
  width: 100%;
}

.container #picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  background: #ff0;
  filter: blur(3px);
}

.container #picture.one {
  background: url(To_do.jpg);
  background-size: cover;
}

.container #picture.two {
  background: url(classbook.jpg);
  background-size: cover;
}

.container #picture.three {
  background: url(phpcode.jpg);
  background-size: cover;
}

.container #picture.four {
  background: url(calling.jpg);
  background-size: cover;
}

.container #picture.five {
  background: url(delete.jpg);
  background-size: cover;
}
